<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="8.0.5.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.SqlEnum.dll" version="1.0.1" targetFramework="net45" />
</packages>