<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dev" connectionString="YOUR DATABASE CONNECTION STRING HERE"/>
    <add name="qa" connectionString="YOUR DATABASE CONNECTION STRING HERE"/>
    <add name="prod" connectionString="YOUR DATABASE CONNECTION STRING HERE"/>
  </connectionStrings>
</configuration>